.container {
    display: flex;
}

.body {
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.menu {
    flex: 0;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.sketch {
    flex: 1 1 0;
    /* background-color: red; */
    padding: 32px;
    max-height: 960px;
    aspect-ratio: 1 / 1;
    flex-direction: column;
}

button {
    flex: 0 0 0;
    margin-top: 32px;
    margin-bottom: 48px;
}

.row {
    flex: auto;
}

.cell {
    flex: 1;
    border: 1px black;
}

.hovered {
    background-color: black;
}